
/*     1rem = 16px    */


*{
    padding: 0;
    margin: 0 auto;
    font-family: sans-serif;
}

html{
    --main-color: #383b37;
    --button-background: rgb(41, 41, 202) ;
    --primery-button-background: #fd4406;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

  /* ---------------------  Header CSS  ----------------------------*/

header{
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

header nav{ 
     display: flex;
     justify-content: space-between;
     align-items: center;
     
}

.logo img{
   width: 50%;
}

header nav .left-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

header nav .left-menu .submenu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;

}
header nav .left-menu .submenu li a{
    margin-right: 3rem;
}

header nav .left-menu .submenu li a:hover{
    color: var(--primery-button-background);
}

header .right-menu .submenu a {
    margin-right: 6rem;
    background-color: white;
    padding: 0.8rem 2.5rem;
    border-radius: 2rem;
    font-size: 15px;
}

.right-menu .submenu button{
    padding: 0.8rem 2.5rem;
    border-radius: 2rem;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: var(--button-background);
    color: white;
 }

 .right-menu .submenu button:hover{
     background-color: rgb(69, 54, 133);
 }

   /* ---------------------  Hero Section-1 CSS  ----------------------------*/

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;

    margin-bottom: 5rem;
}

.hero-section .hero-left-side{
    width: 55%;
    height: 80vh;
     margin-left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-section .hero-left-side h1{
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
    width: 23rem;
    margin-left: 0px;
}

.hero-section .hero-left-side p{
    color: var(--primery-color);
    margin-bottom: 4rem;
    width: 32rem;
    margin-left: 0;
}

.hero-section .hero-left-side .store {
    width: 25rem;
    margin-left: 0;
}

.hero-section .hero-left-side .store a img:first-child{
    height: 3rem;
    width: 10rem; 
    margin-right: 2rem;
}
.hero-section .hero-left-side .store a img:last-child{
    height: 3rem;
    width: 10rem; 
}

.hero-section .hero-right-side {
    width: 45%;
    height: 100vh;
    background-color: #edecf8;
    border-radius: 3rem 0rem 0rem 3rem;
  
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heroimg{
    height: 33rem;
    width: 35rem;
    margin-right: 2rem;
    position: absolute;
    top: 100px;
    right: 70px;
}

 /* ---------------------  Mobile Section-2 CSS  ----------------------------*/
 #section-2{

    transition-duration: 2000ms;
 }
 .common-section{
     display: grid;
     grid-template-columns:1fr 1fr;
     justify-content: flex-start;
     align-items: center;
     padding: 0 6rem;

     margin-bottom: 4rem;
 }

 
 .common-section .left-side img{
      margin-left: 4rem;
      margin-top: 2.5rem;
     width: 30rem;
     height: 25rem;
 }

 .common-section .left-side figure{
     width: 15rem;
     height: 30rem;
     border-radius: 2rem;

     position: relative;
     top: 0px;
     right: 11rem;
     background-color: #edecf8;
 }

 .common-section .right-side h1{
    width: 20rem;
   font-size: 3rem;

   margin-left: 0px;
   margin-bottom: 2rem;
}

.common-section .right-side p{
   width: 23rem;
  font-size: 1rem;
  margin-left: 0px;
  margin-bottom: 2rem;
}

.common-section .right-side .btn-group button:first-child{
    padding: 0.8rem 2.5rem; 
    border-radius: 1rem;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: var(--primery-button-background);
    color: white;
 }

 .common-section .right-side .btn-group button:last-child{
    padding: 0.8rem 2.5rem;
    border-radius: 1rem;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: white;
    margin-left: 2rem;
 }
 .common-section .right-side .btn-group button:last-child:hover{
    color: white;
    background-color: var(--primery-button-background);
 }

 /* ---------------------  Section-3 CSS  ----------------------------*/

.section-third{
    width: 100%;
    height: 33rem;
    background-color: #f1f8f4;
    margin-bottom: 2rem;
  
}
.section-third h2{
    padding-top: 2rem;
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
}

.section-third p{
    width: 30rem;
    padding-top: 0.5rem;
    font-size: 16px;
    color: var(--main-color);
    line-height: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}


.tools{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-third .tools p{
    width: 22rem;
    font-size: 15px;
    color: var(--main-color);
    text-align: center;
}
.section-third .tools h3{
    text-align: center;
}

.section-third .tools .learn,
.section-third .tools .time,
.section-third .tools .motivate{
    height: 17rem;
    width: 23rem;
}


.section-third .tools .learn:hover,
.section-third .tools .time:hover{
    border-radius: 2rem;
    box-shadow: 0 0 2px 0px grey;
    background-color: rgb(255, 255, 255);
    transform: scale(1.08);
}
.section-third .tools .motivate:hover{
    box-shadow: 0 0 2px 0px grey;
    transform: scale(1.06);
}
.section-third .tools .motivate{
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
}


.section-third .tools .learn:hover img{
    animation-name: anim0;
    animation-duration: 0.5s;
}
@keyframes anim0 {
    from{
        transform:scaleX(0);
    }
    to{
        transform:scaleX(2);
    }
}

.section-third .tools .motivate:hover img{
    animation-name: anim1;
    animation-duration: 0.5s;
}
@keyframes anim1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.section-third .tools .time:hover img{
    animation-name: anim2;
    animation-duration: 0.6s;
}
@keyframes anim2 {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1.3);
    }
}


.section-third .tools .learn img{
   margin-left: 5rem;
   margin-bottom: 1rem;
}
.section-third .tools .time img{
    margin-left: 6rem;
 }
 .section-third .tools .motivate img{
    margin-left: 6.5rem;
    margin-bottom: 1.5rem;
 }


 #board{
     height: 10rem;
     width: 13rem;
     
 }
 #watch{
     height: 11rem;
     width: 11rem; 
 }
 #motivate{
     height: 9rem;
     width: 9rem; 
 }


   /* ---------------------  Section-4 CSS  ----------------------------*/

 .section-fourth{
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;

    margin-bottom: 4rem;
}

.section-fourth .left-side-4{
    margin-left: 10rem;
}

.section-fourth .left-side-4 img{

    width: 25rem;
    height: 28rem;

    position: relative;
    right: 3rem;
    top: 2.5rem;
}

.section-fourth .left-side-4 figure{
    width: 16rem;
    height: 33rem;
    border-radius: 2rem;

    position: relative;
    top: 0px;
    right: 2rem;
    background-color: #edecf8;
}
.section-fourth .right-side-4{
    margin-left: 0px;
}

.section-fourth .right-side-4 h1{
   width: 25rem;
  font-size: 3rem;
   text-transform: capitalize;

  margin-left: 0px;
  margin-bottom: 2rem;
}

.section-fourth .right-side-4 p{
  width: 23rem;
 font-size: 1rem;

 margin-left: 0px;
 margin-bottom: 2rem;
}

.section-fourth .right-side-4 .btn-group-4 button:first-child{
   padding: 0.8rem 2.5rem; 
   border-radius: 1rem;
   font-size: 15px;
   border: none;
   cursor: pointer;
   background-color: var(--primery-button-background);
   color: white;
}

.section-fourth .right-side-4 .btn-group-4 button:last-child{
   padding: 0.8rem 2.5rem;
   border-radius: 1rem;
   font-size: 15px;
   border: none;
   cursor: pointer;
   background-color: white;
   margin-left: 2rem;
}
.section-fourth .right-side-4 .btn-group-4 button:last-child:hover{
   color: white;
   background-color: var(--primery-button-background);
}

  /* ---------------------  Section-5 CSS  ----------------------------*/

.section-fiveth{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: flex-start;

    padding: 0 4rem;
    margin-bottom: 3rem;
}

  .section-fiveth .left-side-5 img{
      width: 35rem;
      height: 30rem;
      margin-left: 0rem;
  }
  .section-fiveth .left-side-5 figure{
    width: 60%;
    height: 25rem;
    background-color: #edecf8;
    border-radius: 2rem;
    margin-left: 0px;
  }

  .section-fiveth .right-side-5{
    padding: 1rem 0rem;
     width: 70%;
  }
  .section-fiveth .right-side-5 h3{
      font-size: 2rem;
      text-transform: capitalize;
      line-height: 3rem;
      margin-bottom: 2rem;
  }
  .section-fiveth .right-side-5 h4{
    font-size: 20px;
    color: var(--main-color);
    line-height: 3.5rem;
  }
  .section-fiveth .right-side-5  p{
      width: 90%;
      font-size: 15px;
      margin-bottom: 1rem;
      margin-left: 0px;
  }
  .section-fiveth .right-side-5 .fas{
     color: rgb(252, 97, 97);
  }

   /* ---------------------  Section-6 CSS Footer  ----------------------------*/

 footer{
     height: 10rem;
     background-color: #d5ece3;
     display: grid;
     grid-template-columns: 1fr 2fr;
     padding: 0 5rem;
    
 }
.logo-foot{
    margin-left: 0px;
    margin-top: 1rem;
}
 .logo-foot img{
     height: 5rem;
 }
 .logo-foot p{
    font-size: 14px;
    color: var(--main-color);
    line-height: 2rem;
 }

  .footer-menu{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      align-items: center;
      justify-content: space-between;
      line-height: 3rem;
      
 }
 .footer-menu .menu-1 a,
 .footer-menu .menu-2 a,
 .footer-menu .menu-3 a,
 .footer-menu .menu-4 a{
     font-size: 14px;
     line-height: 1.3rem;
     color: var(--main-color);
 }

   /* ---------------------  Social Icons ----------------------------*/

.icon{
     display: flex;
     flex-direction: column;
     
     position: fixed;
     top: 45%;
     left: 0px;
   }

.icon a{
    transform: translateX(-8rem);
    transition: all 0.5s linear;
}

.icon .facebook,
.icon .instagram,
.icon .youtube,
.icon .linkedin,
.icon .telegram{
     padding: 3px 5px ;
     margin: 1px;
      color: white;
      font-size: 15px;
      text-align: center;
      border-radius: 0.3rem;
      
}

.icon .facebook{
    background-color: blue;
}
.icon .instagram{
    background-image: linear-gradient(rgb(119, 6, 212)5%, rgb(255, 2, 150)80%,rgb(238, 255, 0));
}
.icon .youtube{
    background-color: rgb(255, 0, 0);
}
.icon .linkedin{
    background-color: rgb(0, 158, 231);
}
.icon .telegram{
    background-color:  rgb(14, 108, 216);
}

.icon a:hover{
    transform: translateX(0rem);
}

/* --------------------------- End ------------------------------ */

/* ----------------------- Responsive -------------------------- */

@media screen and (max-width: 381px){
    header nav{ 
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-direction: column;
         flex-wrap: wrap;
    }
    
    header nav .left-menu {
        order: 1;
    }
    
    header nav .left-menu .submenu li a{
        font-size: 2.5rem;
        padding-top: 2rem;
        display: block;
    }
    header .right-menu .submenu{
        display: block; 
        order: -1;
    }
    header .right-menu .submenu a {
        margin-right: 2rem;
       background-color: wheat;
        font-size: 25px; 
    }
    
    .right-menu .submenu button{
        font-size: 25px;
        padding: 1rem 3rem;
     }





    .hero-section .hero-left-side h1{
        font-size: 4rem;
        width: 30rem;
        text-align: center;
    }
    
    .hero-section .hero-left-side p{
      font-size: 2rem;
        width: 40rem;
    }
    
    .hero-section .hero-left-side .store {
        width: 35rem;
        margin-left: 2rem;
    }
    .hero-section .hero-right-side {
        width: 0%;
    }
   
    .hero-section .hero-left-side .store a img:last-child{
        height: 5rem;
        width: 15rem; 
    }
    
    .heroimg{
        height: 35rem;
        width: 40rem;
        margin-right: 2rem;
        position: absolute;
        top: 45rem;
        right: -22rem;
    }
    
    



    .common-section{ margin-top: 40rem;
        display: grid;
        grid-template-columns:1fr;
        grid-row-gap: 5rem;
    }
    .common-section .left-side img{
       width: 35rem;
       height: 30rem;
   }

   .common-section .right-side h1{
    width: 25rem;
   font-size: 4rem;
   }

   .common-section .right-side p{
   width: 30rem;
  font-size: 2rem;
 
}

.common-section .right-side .btn-group button:first-child,
.common-section .right-side .btn-group button:last-child{
    padding: 1rem 2rem; 
    font-size: 25px;
 }


    .tools{
        display: grid;
        grid-template-columns: 1fr ;
        flex-direction: row;
        grid-row-gap: 2rem;
    }
    .section-third{
        width: 187%;
        height: 100%;
        padding-bottom: 2rem;
    }
    .section-third h2{
        font-size: 3rem;
    }
    
    .section-third p{
        width: 30rem;
        font-size: 25px;
        line-height: 2rem;
    }
    
    .section-third .tools p{
        width: 28rem;
        font-size: 22px;
       
    }
    .section-third .tools h3{
        font-size: 30px;
    }
    
    .section-third .tools .learn,
    .section-third .tools .time,
    .section-third .tools .motivate{
        height: 20rem;
        width: 28rem;
    }
    
    
    .section-third .tools .learn img{
       margin-left: 7rem;
    }
    .section-third .tools .time img{
        margin-left: 8rem;
     }
     .section-third .tools .motivate img{
        margin-left: 9rem;
     }
    
    

     .section-fourth{
        display: grid;
        grid-template-columns:1fr;
        justify-content: center;
        align-items: center;
        grid-row-gap: 3rem;
    }
    
    .section-fourth .left-side-4{
        margin-left: 35rem;
    }
    
    .section-fourth .left-side-4 img{
    
        width: 30rem;
        height: 30rem;
    
    }

    .section-fourth .right-side-4 h1{
       width: 35rem;
      font-size: 4rem;
       margin-left: 28rem;
    }
    
    .section-fourth .right-side-4 p{
      width: 40rem;
      font-size: 2rem;
     margin-left: 28rem;
    }
       
    .section-fourth .right-side-4 .btn-group-4 button:first-child
    {
       padding: 1rem 2rem; 
       font-size: 25px;
       margin-left: 28rem;
       font-weight: bold;
    }
    .section-fourth .right-side-4 .btn-group-4 button:last-child
    {
       padding: 1rem 2rem; 
       font-size: 25px;
       margin-left: 2rem;
       font-weight: bold;
    }


    .section-fiveth{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 13rem;
    }
    
      .section-fiveth .left-side-5 img{
          width: 40rem;
          height: 35rem;
      }
      .section-fiveth .left-side-5 figure{
        width: 20rem;
      }
    
      .section-fiveth .right-side-5{
        padding: 1rem 4.5rem;
         width: 160%;
      }
      .section-fiveth .right-side-5 h3{
          font-size: 3rem;
      }
      .section-fiveth .right-side-5 h4{
        font-size: 25px;
      }
      .section-fiveth .right-side-5  p{
          font-size: 20px;
      }
    

      footer{
        height: 100%;
        width: 110%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 10rem;
        background-color: black;
    }
   .logo-foot{
       margin-left: 6rem;
   }
    .logo-foot p{
       font-size: 22px;
       line-height: 3rem;
       color: wheat;
    }
   
     .footer-menu{
         display: grid;
         grid-template-columns: 1fr ;
         line-height: 3rem;
         grid-row-gap: 3rem;
         justify-content: center;
         align-items: center;
    }
    .footer-menu .menu-1 a,
    .footer-menu .menu-2 a,
    .footer-menu .menu-3 a,
    .footer-menu .menu-4 a{
        font-size: 22px;
        line-height: 1.5rem;
        color: rgb(218, 209, 209);
    }
    .footer-menu .menu-1 h4,
    .footer-menu .menu-2 h4,
    .footer-menu .menu-3 h4,
    .footer-menu .menu-4 h4{
        font-size: 30px;
        color: rgb(255, 255, 255);
    }


    .icon{
        display: flex;
        flex-direction: column;
      }
   
   .icon a{
       transform: translateX(-11.7rem);
       transition: all 0.5s linear;
   }
   
   .icon .facebook,
   .icon .instagram,
   .icon .youtube,
   .icon .linkedin,
   .icon .telegram{
        padding: 10px 7px ;
         font-size: 22px;
   }
   
   
}